<div class="main">
  <div class="search-filter">
    <div class="search">
      <input type="search" placeholder="Search here..." name="search" [(ngModel)]="searchValue" class="input-search"
        (input)="onSearch()">
    </div>
    <div class="filter">
      <select #statusSelect name="filterValue" (click)="onFilterStatus(statusSelect.value)" class="filter-select">
        <option value="" selected>Select status to filter</option>
        <option *ngFor="let status of loanStatus" [value]="status">{{status.toUpperCase()}}</option>
      </select>
    </div>
    <div class="filter">
      <select #typeSelect name="loanType" (click)="onFilterType(typeSelect.value)" class="filter-select">
        <option value="" selected>Select loan type to filter</option>
        <option *ngFor="let type of loanType" [value]="type.loanTypeName">{{type.loanTypeName}}</option>
      </select>
      <div class="button">
        <button type="button" (click)='reset()' class="btn">reset</button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="searchValue.length === 0 || tempLoanApplication.length > 0 ; else noResult">
    <ng-container *ngIf="!isFiltering || tempLoanApplication.length > 0 ; else noResult">
  <div class="loan-details-container">
    <div class="loan-details"  *ngFor="let loan of (tempLoanApplication.length>0 ? tempLoanApplication:loans)" [class.cancelled]="loan.status==='CANCELLED'" [class.rejected]="loan.status==='REJECTED'" [class.approved]="loan.status==='APPROVED'" [class.pending]="loan.status==='PENDING'">
      <div class="detail-row">
        <span class="detail-label">Loan Number:</span>
        <span>{{ loan.loanId }}</span>
      </div>
      <div class="detail-row">
        <span class="detail-label">LoanType:</span>
        <span>{{ loan.loanTypeName }}</span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Loan Amount:</span>
        <span>{{ loan.principal }}</span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Loan Tenure:</span>
        <span>{{ loan.tenure }} Months</span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Customer Name:</span>
        <span>{{ loan.customerName}}  <a [routerLink]="['/admin/view-customer-details', loan.customerId]">(view)</a></span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Status:</span>
        <span>{{ loan.status }}</span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Application Date:</span>
        <span>{{ loan.loanApplyDate | date }}</span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Propety Address:</span>
        <span>{{ loan.propertyAddress }}, INDIA</span>
      </div>
      <div class="detail-row">
        <span class="detail-label"></span>
        <span><a (click)="downloadFile(loan.propertyProofId,loan.propertyFile)" download><i class="fa fa-download"></i>{{ loan.propertyFile }}</a></span>
      </div>
      <div class="detail-row">
        <span class="detail-label">Actions:</span>
        <span><select (change)="onActionChange($event, loan.loanId)" [disabled]="loan.status === 'REJECTED' || loan.status === 'CANCELLED' || loan.status === 'APPROVED'">
          <option [disabled]="loan.status==='PENDING'"  [value]="loan.status" selected>{{ loan.status }}</option>
          <option *ngIf="(loan.status !== 'APPROVED')  " value="APPROVED">APPROVE</option>
          <option *ngIf="(loan.status !== 'REJECTED') " value="REJECTED">REJECT</option>
        </select></span>
      </div>
    </div>
  </div>
  
</ng-container>
</ng-container> 
</div>
<ng-template #noResult>
  <div style="font-weight: bold; text-align: center; margin-top: 20vh; font-size: 24px;">
    <p>No Loan Application found</p>
  </div>
</ng-template>

