.customer-list-container{
  margin: 20px;
}
h2{
  text-align: center;
  background-color: aqua;
}

.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 40px;
}

.search-inside {
  position: relative;
}

.input-search {
  padding: 8px 16px;
  border: 1px solid #3d3a3a;
  border-radius: 4px;
  width: 300px;
}
@media(max-width: 400px) {
  .input-search{
    width: 200px;
  }
}
@media(max-width: 290px) {
  .input-search{
    width: 120px;
  }
}
.customer-details-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, .5);
}

.customer-details {
  border: 2px solid rgb(248, 246, 246);
  padding: 8px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .customer-details-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.customer-details .detail-row.email {
  white-space: nowrap;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-picture {
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.detail-label {
  font-weight: bold;
  margin-right: 10px; 
} 

.fa {
  color: blue;
  cursor: pointer;
}

.fa:hover {
  color: darkblue;
}
