<div class="customer-details">
    <h2>Customer Details</h2>
    
        <div class="customer-info">
            <label for="customerId">Customer ID:</label>
            <input type="number" id="customerId" [(ngModel)]="customer.customerId" disabled>

            <label for="customerFirstName">First Name:</label>
            <input type="text" id="customerFirstName" [(ngModel)]="customer.customerFirstName" [disabled]="!editMode"
                required minlength="3" #fname="ngModel">
            <div class="error" *ngIf="fname.invalid &&(fname.errors || fname.touched)">
                <span *ngIf="fname.errors?.['required'] "> first name is required</span>
                <span *ngIf="fname.errors?.['minlength'] "> minimum 5 characters</span>
            </div>

            <label for="customerLastName">Last Name:</label>
            <input type="text" id="customerLastName" [(ngModel)]="customer.customerLastName" [disabled]="!editMode"
                #lname="ngModel" required minlength="3">
            <div class="error" *ngIf="lname.invalid &&(lname.errors || lname.touched)">
                <span *ngIf="lname.errors?.['required'] "> Last name is required</span>
                <span *ngIf="lname.errors?.['minlength'] "> minimum 5 characters</span>
            </div>

            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="customer.email" [disabled]="!editMode" required email
                #emial="ngModel">
            <div class="error" *ngIf="emial.invalid &&(emial.errors || emial.touched)">
                <span *ngIf="emial.errors?.['required'] "> emial is required</span>
                <span *ngIf="emial.errors?.['email'] ">enter a valid email</span>
            </div>

            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="customer.password" [disabled]="!editMode" required
                #pwd="ngModel">
            <div class="error" *ngIf="pwd.invalid &&(pwd.errors || pwd.touched)">
                <span *ngIf="pwd.errors?.['required'] "> password is required</span>
                <span *ngIf="pwd.errors?.['required'] "> minimum 5 characters</span>
            </div>

            <label for="dateOfBirth">Date of Birth:</label>
            <input type="date" id="dateOfBirth" [(ngModel)]="customer.dateOfBirth" [disabled]="true">

            <label for="gender">Gender:</label>
            <input type="text" id="gender" [(ngModel)]="customer.gender" [disabled]="true">

            <label for="address">Address:</label>
            <input type="text" id="address" [(ngModel)]="customer.address" [disabled]="!editMode" required minlength="5"
                #address="ngModel">
            <div class="error" *ngIf="address.invalid &&(address.errors || address.touched)">
                <span *ngIf="address.errors?.['required'] "> address is required</span>
                <span *ngIf="address.errors?.['minlength'] "> minimum 5 characters</span>
            </div>
            <label for="state">State:</label>
           
            <select name="state" id="state" [(ngModel)]="customer.state" [disabled]="!editMode">
                <option value="" selected> select a state</option>
                <option *ngFor="let state of indianStates" [value]="state">{{state}}</option>
            </select>
          
            <label for="creditScore">Credit Score:</label>
            <input type="number" id="creditScore" [(ngModel)]="customer.creditScore" [disabled]="!editMode" required
                min="500" max="1100" #creditScore="ngModel">
            <div class="error" *ngIf="creditScore.invalid &&(creditScore.errors || creditScore.touched)">
                <span *ngIf="creditScore.errors?.['required'] ">Credit Score is required</span>
                <span *ngIf="creditScore.errors?.['min'] ">minimum value 500</span>
                <span *ngIf="creditScore.errors?.['max'] ">maximum value 1100</span>
            </div>
            <label for="panCard">PAN Card:</label>
            <input type="text" id="panCard" [(ngModel)]="customer.panCardNumber" [disabled]="true">
        </div>

        <div class="buttons">
            <button (click)="toggleEditMode()">
                <i class="fa fa-edit"></i> {{ editMode ? 'Cancel' : 'Edit' }}
            </button>
            <button *ngIf="editMode" (click)="saveChanges()">
                <i class="fa fa-save"></i> Save
            </button>
        </div>
       
  
</div>