

<body>
  <div class="container">
    <header>Loan Application Form</header>
    <form #formData="ngForm" (ngSubmit)="formData.valid && getData(formData.value)">
      <div calss="form first">
        <div class="details personal">
          <span class="title">Review Your Personal Details</span>
          <div class="fields">
            <div class="input-field">
              <label>Your Customer ID:</label>
              <input type="text" name="id" [value]="customer.customerId" required readonly>
            </div>

            <div class="input-field">
              <label>Your Full Name</label>
              <input type="text" name="fullname" [value]="customer.customerFirstName+' '+customer.customerLastName"
                required readonly>
            </div>

            <div class="input-field">
              <label>Phone Number</label>
              <input type="number" name="phone" [value]="customer.phoneNumber" required readonly>
            </div>

            <div class="input-field">
              <label>Your Email Address</label>
              <input type="email" name="email" [value]="customer.email" required readonly>
            </div>

            <div class="input-field">
              <label>Your Date of Birth</label>
              <input type="date" name="dob" [value]="customer.dateOfBirth" readonly required>
            </div>

            <div class="input-field">
              <label>Your age</label>
              <input type="number" name="age" [value]="customer.age" required readonly>
            </div>

            <div class="input-field">
              <label>Gender</label>
              <input type="text" name="gender" [value]="customer.gender" required readonly>
            </div>

            <div class="input-field">
              <label>PAN Card Number</label>
              <input type="text" name="pan" [value]="customer.panCardNumber" required readonly>
            </div>

            <div class="input-field">
              <label>Credit Score</label>
              <input type="number" name="Credit" [value]="customer.creditScore" required readonly>
            </div>

            <div class="input-field">
              <label>Address</label>
              <input type="text" name="address" [value]="customer.address" required readonly>
            </div>

            <div class="input-field">
              <label>Country</label>
              <input type="text" name="country" value="India" required readonly>
            </div>

            <div class="input-field">
              <label>State</label>
              <input type="text" name="state" [value]="customer.state" required readonly>
            </div>

          </div>
        </div>
         <div class="details ID">
          <hr>
          <span class="title">Enter Loan Informtion</span>
          <div class="fields">
            <div class="input-field">
              <label>Enter Amount</label>
              <input type="number" name="principal" ngModel required min="10000" max="100000000" placeholder="Enter principal amount" #principal="ngModel">
              <div class="error" *ngIf="principal.invalid && (principal.touched || principal.errors)">
                <span *ngIf="principal.touched && principal.errors?.['required']"> principal is required</span>
                <span *ngIf="principal.touched && principal.errors?.['min']">minimum value is 10,000</span>
                <span *ngIf="principal.touched && principal.errors?.['max']">maximum value is  100,000,000</span>
            </div>
            </div>
            
            

            <div class="input-field">
              <label>Enter duration in months</label>
              <input type="number" name="tenureInMonths" value="" ngModel placeholder="Enter duration in months"
                required min="12" max="120" #tenure="ngModel">
                <div class="error" *ngIf="tenure.invalid && (tenure.touched || tenure.errors)">
                  <span *ngIf="tenure.touched && tenure.errors?.['required']"> tenure is required</span>
                  <span *ngIf="tenure.touched && tenure.errors?.['min']"> minimum value is 10 months</span>
                  <span *ngIf="tenure.touched && tenure.errors?.['max']">maximun value is 120 months</span>
              </div>
            </div>

            <div class="input-field">
              <input type="text" name="loanType" id="loanType" [ngModel]="selectedLoanTypeName" readonly>
            </div>
          </div>
        </div> 
        <div class="details ID">
          <hr>
          <span class="title">Enter Property Informtion</span>
          <div class="fields">
            <div class="input-field">
              <label>Enter Property Address</label>
              <input type="text" name="propertyAddress" value="" ngModel placeholder="Property address" #address="ngModel" required minlength="5" maxlength="120" >
               <div class="error" *ngIf="address.invalid && (address.touched || address.errors)">
                 <span *ngIf="address.touched && address.errors?.['required']"> address is required</span>
                 <span *ngIf="address.touched && address.errors?.['minlength']"> minimum 5 characters</span>
                 <span *ngIf="address.touched && address.errors?.['maxlength']">maximum 120 characters</span>
              </div> 
            </div>

            <div class="input-field">
              <label>Enter property Area in m^2</label>
              <input type="number" name="propertyAreaInm2" value="" ngModel placeholder="Area in m^2" required min="1000" max="100000" #area="ngModel">
              <div class="error" *ngIf="area.invalid && (area.touched || area.errors)">
                <span *ngIf="area.touched && area.errors?.['required']"> area is required</span>
                <span *ngIf="area.touched && area.errors?.['min']"> minimum value is 1,000 m^2</span>
                <span *ngIf="area.touched && area.errors?.['max']">maximum value is 100,000 m^2</span>
            </div>
            </div>

            <div class="input-field">
              <label>Enter property Value in Indian Rupee</label>
              <input type="number" name="propertyValue" ngModel placeholder="Value in Indian Rupee" required min="10000" max="10000000" #value="ngModel">
              <div class="error" *ngIf="value.invalid && (value.touched || value.errors)">
                <span *ngIf="value.errors?.['required'] && value.touched"> value is required</span>
                <span *ngIf="value.touched && value.errors?.['min']">minimum value is 10,000</span>
                <span *ngIf="value.touched && value.errors?.['max']">maximum value is 10,000,000</span>
            </div>
            </div>

            <div class="input-field">
              <label>Upload Property Proof</label>
              <input type="file" name="property" ngModel required (change)="onFileUpload($event)">
            </div>

          </div>
          <div class="group" >
            <button *ngIf="formData.valid;else disableSubmit" class="btn">Submit</button>
            <ng-template #disableSubmit>
              <button style="background-color: #ccc;color: #666;cursor: not-allowed;" (click)="invalidData()">Submit</button>
            </ng-template>
            <button routerLink="/customer/home" id="cancle">Cancle</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>

